.reveal {
    font-size: 55px;
}

.reveal ul li {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.reveal pre {
    font-size: 35px;
}

.reveal pre code {
    max-height: 560px;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

.hljs {
    background: #FFFFFF;
}

.hljs,
.hljs-subst {
    color: #000;
}

.hljs-comment {
    color: #888888;
}
